 h1{
  font-style:bold;
  font-size:20;
  color: green;
  
}
h2{
  font-style:bold;
  font-size:15;
}

.first {
font-style: Italic;
color: purple;
}

.second {
  font-style: courier new;
  color: darkblue;
}

.third {
  font-style: times new roman;
  color: green;
} */
span{
  color: red;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}

.column {
  width: 300px;
  float: left;
  margin: 10px;
  
}
h2 {
  color: blue;
}